<br>
<div class="jumbotron">

<h1><%= @board[:title] %></h1>
<br>

<%= form_for(@message, :url => {:controller => 'main', :action => 'index'}) do |f| %>
  <% if @message.errors.any? %>
    <div class="alert alert-danger"><%= @message.errors.messages.shift[1].shift %></div>
  <% end %>

  <div>
    <b>Name</b><br>
  	<%= f.text_field :name, :class => 'form-control input-lg' %>
  </div>
  <br>
  <div>
    <b>Message</b><br>
    <%= f.text_area :body, :class => 'form-control input-lg', :rows => 4 %>
  </div>
  <br>
  <%= f.submit '　　　Send　　　', :class => 'btn btn-primary btn-lg' %><br>
  <br>
<% end %>
</div>

<% @messages.each do |msg| %>
  <div class="msg_name"><%= msg.name %></div>
  <pre><%= msg.body %></pre>
  <div class="msg_date"><%= msg.created_at.strftime('%m月%d日 %H時%M分') %></div>
<% end %>

<br>
<div class="msg_date">
（最大20件まで表示）
</div>